<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Favorite Foods</title>

<link rel="stylesheet" type="text/css" href="style.css"/>

</head>

<body id="body">

	<div id="container">
	
<h1 id="heading1">
<i>Favorite Foods</i>
</h1>

<p class="question">
	 1. Steak

	 <span id="question1">
		
	 
	 </span>
	 
	 <p class="question">
	 2. Pizza
	 <span id="question2">
		
	 
	 </span>
	 
	 <p class="question">
	 3. Hamburgers
	 <span id="question3">
		
	 
	 </span>
	 
	 <p class="question">
	 4. Hotdogs
	 <span id="question4">
		
	 
	 </span>
	 
	 <p class="question">
	 5. Tacos
	 <span id="question5">
		
	 
	 </span>
	 
	 <p class="question">
	 6. Chicken
	 <span id="question6">
		
	 
	 </span>
	 
	 <p class="question">
	 7. Sandwich 
	 <span id="question7">
		
	 
	 </span>
	 
	 <p class="question">
	 8. Cheese
	 <span id="question8">
		
	 
	 </span>
	 
	 <p class="question">
	 9. Shrimp 
	 <span id="question9">
		
	 
	 </span>
	 
	 <p class="question">
	 10. Shepherd's pie
	 <span id="question10">
	 </span>

     <span>
         <p>
             I chose my favorite foods because I like food. These foods are a few of the foods if I am offered I will happily accept them. This was heavily influenced by me being hungry when starting this assignment.  
         </p>
     </span>
	 
	</div> 


</body>
</html>