<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <form class="form-group" action="/addgame" method="POST">
                <h3>Enter Your Favorite Food Here:</h3>
                <label>Food?</label>
                <br>
                <input type="text" name="title" required>

            </form>
        </div>
    </div>
</div>